/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html{
  min-height: 100vh;
}

body{
  height: 100vh;
  width: 100vw;
}

/* APP */
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;;
}

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header a{
  text-decoration: none;
}

header .logo{
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  display: flex;
  flex-direction: row;
  color:goldenrod;
  text-decoration: none;
}

header li{
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}
/*HEADER END

/* CONTAINER START */
.container{
  display: flex;
  flex:1;
  justify-content: center;
  max-width: 100vw;
  /* margin: 0 auto; */
  padding: 2%;
}
/* CONTAINER END */

/*HOME PAGE START*/
.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: darkred;
}

.home-page a{
  text-decoration: none;
}

.home-page .user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}

.home-page .animal-box{
  display: flex;
  flex-direction: column;
  width: auto;
  max-height: 85vh;
  align-items: center;
  /* background-color: gainsboro; */
  font-size: 0.5em;
  background-color: #fff;
  background-color: rgba(255,255,255,0.80);
  padding: 10px;
}

.home-page .user-response {
  display: flex;
  flex-direction: row;
}

.home-page .display-details {
  text-align: center;
}

.animal-box img{
  /* max-width: 20vw; */
  max-height: 20vh;
  /* border-radius: 35%; */
}
/*HOME PAGE END*/

/*USER PROFILE START*/
.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90vh;
  width: 90vw;
  padding: 10px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}

.profile-page aside {
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
}

.profile-page .user-info {
  font-size: 1.1em;
}

.profile-page .display-animal {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 85vh;
  overflow-y: scroll;
}

.profile-page .display-animal li {
  list-style-type: none;
  margin-bottom: 10px;
}

.profile-page .single-display-box img {
  max-height: 200px;
  float: left;
}

.profile-page .single-display-box .info {
  float: right;
  width: 300px;
}

.profile-page aside {
  height: fit-content;
  font-size: 2em;
}

.profile-page section {
  width: 65%;
}

.profile-page section h3 {
  font-size: 1.2em;
}

/* .profile-page .display-animal .li {
  text-decoration: none;
} */


/*USER PROFILE END*/

/* ABOUT PAGE STARTS */
.about-box {
  min-height: 80vh;
  color:black;
  padding: 0 70px;
  /* background-color: gainsboro; */
  background-color: #fff;
  background-color: rgba(255,255,255,0.80);
}
/* ABOUT PAGE ENDS */


/*FOOTER STARTS*/
footer {
  text-align: center;
}
/*FOOTER ENDS*/